In [37]:
import pandas as pd
import numpy as np

## Year 2021

In [38]:
s21 = pd.read_csv('sat21.csv')
s21 = s21[s21['Type'] == 'School']

In [39]:
col_name = ['RCDTS',
 'School Name',
 'District',
 'City',
 'County',
 'District Size',
 'School Type',
 'Grades Served',
 'SAT Reading Average Score',
 'SAT Math Average Score',
 'SAT Reading Total Students Level 1 %',
 'SAT Reading Total Students Level 2 %',
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',
 'SAT Math Total Students Level 1 %',
 'SAT Math Total Students Level 2 %',
 'SAT Math Total Students Level 3 %',
 'SAT Math Total Students Level 4 %',
 '# Students SAT Math Participation','# SAT Math Participation - Male',
 '# SAT Math Participation - Female',
 '# SAT Math Participation - White',
 '# SAT Math Participation - Black or African American',
 '# SAT Math Participation - Hispanic or Latino',
 '# SAT Math Participation - Asian',
 '# SAT Math Participation - Native Hawaiian or Other Pacific Islander',
 '# SAT Math Participation - American Indian or Alaska Native',
 '# SAT Math Participation - Two or More Race',
 '# SAT Math Participation - Children with Disabilities',
 '# SAT Math Participation - IEP',
 '# SAT Math Participation - EL',
 '# SAT Math Participation - Low Income']

In [40]:
s21 = s21.loc[:, col_name]
s21['mathpass'] = s21['SAT Math Total Students Level 3 %'] + s21['SAT Math Total Students Level 4 %']
s21['white'] = s21['# SAT Math Participation - White'] / s21['# Students SAT Math Participation']
s21['black'] = s21['# SAT Math Participation - Black or African American'] / s21['# Students SAT Math Participation']
s21['hispanic'] = s21['# SAT Math Participation - Hispanic or Latino'] / s21['# Students SAT Math Participation']
s21['lowincome'] = s21['# SAT Math Participation - Low Income'] / s21['# Students SAT Math Participation']

final_colname = ['RCDTS', '# Students SAT Math Participation', 'mathpass',
       'white', 'black', 'hispanic', 'lowincome', 'charter']
s21 = s21.replace(np.nan, 0)

In [41]:
type_map = {'HIGH SCHOOL': 0, 'ELEMENTARY': 0, 'CHARTER SCH': 1}
s21['charter'] = s21['School Type'].map(type_map)

final_s21 = s21.loc[:, final_colname]
final_s21.rename(columns = {'# Students SAT Math Participation':'totaltested'}).to_csv('mathpass_il_21.csv')

## Year 2019

In [42]:
s19 = pd.read_csv('sat19.csv')
s19 = s19[s19['Type'] == 'School']

In [43]:
col_name = ['RCDTS',
 'Type',
 'School Name',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'School Type',
 'Grades Served',
 'SAT Reading Average',
 'SAT Math Average',
 'SAT Reading Total Students Level 1 %',
 'SAT Reading Total Students Level 2 %',
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',
 'SAT Math Total Students Level 1 %',
 'SAT Math Total Students Level 2 %',
 'SAT Math Total Students Level 3 %',
 'SAT Math Total Students Level 4 %', '# Students SAT Math Participation',
 '# SAT Math Participation - Male',
 '# SAT Math Participation - Female',
 '# SAT Math Participation - White',
 '# SAT Math Participation - Black or African American',
 '# SAT Math Participation - Hispanic or Latino',
 '# SAT Math Participation - Asian',
 '# SAT Math Participation - Native Hawaiian or Other Pacific Islander',
 '# SAT Math Participation - American Indian or Alaska Native',
 '# SAT Math Participation - Two or More Race',
 '# SAT Math Participation - Children with Disabilities',
 '# SAT Math Participation - IEP',
 '# SAT Math Participation - EL',
 '# SAT Math Participation - Low Income']

In [44]:
s19 = s19.loc[:, col_name]
s19['mathpass'] = s19['SAT Math Total Students Level 3 %'] + s19['SAT Math Total Students Level 4 %']
s19['white'] = s19['# SAT Math Participation - White'] / s19['# Students SAT Math Participation']
s19['black'] = s19['# SAT Math Participation - Black or African American'] / s19['# Students SAT Math Participation']
s19['hispanic'] = s19['# SAT Math Participation - Hispanic or Latino'] / s19['# Students SAT Math Participation']
s19['lowincome'] = s19['# SAT Math Participation - Low Income'] / s19['# Students SAT Math Participation']

final_colname = ['RCDTS', '# Students SAT Math Participation', 'mathpass',
       'white', 'black', 'hispanic', 'lowincome', 'charter']
s19 = s19.replace(np.nan, 0)

In [45]:
type_map = {'HIGH SCHOOL': 0, 'ELEMENTARY': 0, 'CHARTER SCH': 1}
s19['charter'] = s19['School Type'].map(type_map)

final_s19 = s19.loc[:, final_colname]
final_s19.rename(columns = {'# Students SAT Math Participation':'totaltested'}).to_csv('mathpass_il_19.csv')

## Year 2018

In [46]:
s18 = pd.read_csv('sat18.csv')
s18 = s18[s18['Type'] == 'School']

In [47]:
col_name = ['RCDTS',
 'Type',
 'School Name',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'School Type',
 'Grades Served',
 'SAT Reading Total Students Level 1 %',
 'SAT Reading Total Students Level 2 %',
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',
 'SAT Math Total Students Level 1 %',
 'SAT Math Total Students Level 2 %',
 'SAT Math Total Students Level 3 %',
 'SAT Math Total Students Level 4 %',
 'Total Students SAT Math Participation',
 'Female Students SAT Math Participation',
 'Male Students SAT Math Participation',
 'White Students SAT Math Participation',
 'Black or African American Students SAT Math Participation',
 'Hispanic or Latino Students SAT Math Participation',
 'Asian Students SAT Math Participation',
 'Native Hawaiian or Other Pacific Islander Students SAT Math Participation',
 'American Indian or Alaska Native Students SAT Math Participation',
 'Two or More Race Students SAT Math Participation',
 'IEP Students SAT Math Participation',
 'EL Students SAT Math Participation',
 'Low Income Students SAT Math Participation']

In [48]:
s18 = s18.loc[:, col_name]
s18['mathpass'] = s18['SAT Math Total Students Level 3 %'] + s18['SAT Math Total Students Level 4 %']

In [49]:
s18['white'] = s18['White Students SAT Math Participation'] / s18['Total Students SAT Math Participation']
s18['black'] = s18['Black or African American Students SAT Math Participation'] / s18['Total Students SAT Math Participation']
s18['hispanic'] = s18['Hispanic or Latino Students SAT Math Participation'] / s18['Total Students SAT Math Participation']
s18['lowincome'] = s18['Low Income Students SAT Math Participation'] / s18['Total Students SAT Math Participation']

s18 = s18.rename(columns = {'Total Students SAT Math Participation':'totaltested'})

final_colname = ['RCDTS', 'totaltested', 'mathpass',
       'white', 'black', 'hispanic', 'lowincome', 'charter']
s18 = s18.replace(np.nan, 0)

In [50]:
type_map = {'HIGH SCHOOL': 0, 'ELEMENTARY': 0, 'CHARTER SCH': 1}
s18['charter'] = s18['School Type'].map(type_map)

final_s18 = s18.loc[:, final_colname]
final_s18.rename(columns = {'# Students SAT Math Participation':'totaltested'}).to_csv('mathpass_il_18.csv')

## Year 2017

In [59]:
# demographics data
s17 = pd.read_csv('test17.csv')

# obtain high school demographics data only
s18 = pd.read_csv('mathpass_il_18.csv').loc[:, ['RCDTS']]
s17 = s17.merge(s18, on = 'RCDTS')

s17 = s17.rename(columns = {'School Enrollment Math':'# Students SAT Math Participation'})

s17['white'] = s17['White Math'] / s17['# Students SAT Math Participation']
s17['hispanic'] = s17['Black Math'] / s17['# Students SAT Math Participation']
s17['black'] = s17['Hispanic Math'] / s17['# Students SAT Math Participation']
s17['lowincome'] = s17['Low income Math'] / s17['# Students SAT Math Participation']

s17 = s17.loc[:, ['RCDTS', '# Students SAT Math Participation', 'white', 'hispanic', 'black', 'lowincome']]

# obtain school type information
drop17 = pd.read_csv('dropout_17.csv').loc[:, ['RCDTS', 'School Type Code']]
s17 = drop17.merge(s17, on = 'RCDTS')

type_map = {'0': 0, '2': 0, 'C': 1}

s17['charter'] = s17['School Type Code'].map(type_map)

s17 = s17.drop(columns = 'School Type Code').rename(columns = {'# Students SAT Math Participation':'totaltested'})

s17 = s17.merge(pd.read_csv('prof17.csv'), on = 'RCDTS').drop(columns = 'ela_prof').rename(columns = 
{'math_prof':'mathpass'})

s17.to_csv('mathpass_il_17.csv')

## Merge four years of data

In [62]:
m21 = pd.read_csv('mathpass_il_21.csv').iloc[:, 1:]
m19 = pd.read_csv('mathpass_il_19.csv').iloc[:, 1:]
m18 = pd.read_csv('mathpass_il_18.csv').iloc[:, 1:]
m17 = pd.read_csv('mathpass_il_17.csv').iloc[:, 1:]

m21['year'] = '2021'
m19['year'] = '2019'
m18['year'] = '2018'
m17['year'] = '2017'

school_code = list((set(m21['RCDTS']).intersection(set(m19['RCDTS']))).intersection(
    set(m18['RCDTS'])).intersection(set(m17['RCDTS'])))

m21 = m21.set_index('RCDTS').loc[school_code, :]
m19 = m19.set_index('RCDTS').loc[school_code, :]
m18 = m18.set_index('RCDTS').loc[school_code, :]
m17 = m17.set_index('RCDTS').loc[school_code, :]

final_math = pd.concat([m21, m19, m18, m17]).reset_index()

## Merge with schooling mode

In [63]:
mode = pd.read_csv('schoolmode.csv')[['Charter', 'StateAssignedSchoolID', 'EnrollmentTotal',
                     'TimePeriodStart', 'TimePeriodEnd', 'LearningModel']]

illi_mode = mode.groupby(['StateAssignedSchoolID'])['LearningModel'].value_counts(
    normalize = True).to_frame().rename(columns = {'LearningModel':'normalized'}).reset_index()

score_map = {'Virtual': 0, 'Hybrid': 50, 'Closed': 0, 'In-person': 100}
illi_mode['score'] = illi_mode['LearningModel'].map(score_map)

def weighted_average(df):
    return(sum(df['normalized'] * df['score']))

school_score = illi_mode.groupby(['StateAssignedSchoolID']).apply(
    weighted_average).sort_values().to_frame().reset_index().rename(columns = {0: 'schoolmode', 
                        'DistrictName':'District Name', 'SchoolName':'School Name'})

school_score.loc[:, ['schoolmode']] = school_score.loc[:, ['schoolmode']] / 100
school_score.loc[:, ['schoolmode']] = 1 - school_score.loc[:, ['schoolmode']]

In [64]:
norm_mode = mode.groupby(['StateAssignedSchoolID'])['LearningModel'].value_counts(
    normalize = True).to_frame().rename(columns = {'LearningModel': 'normalized'}).reset_index()
pivot_df = pd.pivot(norm_mode, index = ['StateAssignedSchoolID'], 
         columns = 'LearningModel', values = 'normalized').reset_index()
pivot_df = pivot_df.replace(np.nan, 0)
new_illi_mode = pivot_df.merge(school_score, on = 'StateAssignedSchoolID')
new_illi_mode = new_illi_mode.rename(columns = {
    'Closed':'closedper','Hybrid':'hybridper','In-person':'inpersonper',
          'Virtual':'virtualper'})
new_illi_mode.to_csv('schoolmode_il.csv')

In [70]:
mode = pd.read_csv('schoolmode_il.csv').iloc[:, 1:]
for i in list(final_math.RCDTS):
    if i[0] == '0':
        final_math.loc[final_math['RCDTS'] == i, 'RCDTS'] = i[1:]
        
math_mode = final_math.set_index('RCDTS').merge(mode.set_index('StateAssignedSchoolID'), 
                                        left_index = True, right_index = True).reset_index().rename(columns = 
                                                                                                   {'index':
                                                                                                   'RCDTS'})
math_mode.loc[math_mode['year'] != '2021', 'schoolmode'] = 0
math_mode.loc[math_mode['year'] != '2021', 'virtualper'] = 0
math_mode.loc[math_mode['year'] != '2021', 'hybridper'] = 0

In [71]:
math_mode['schoolcode'] = math_mode['RCDTS'].astype('str') + 'il'
math_mode['districtcode'] = math_mode.RCDTS.apply(lambda x: x[:5]) + 'il'
math_mode['countycode'] = math_mode.RCDTS.apply(lambda x: x[:8]) + 'il'
math_mode['state'] = 'il'
math_mode = math_mode.drop(columns = ['closedper', 'inpersonper', 'RCDTS'])
math_mode['totaltested'] = math_mode['totaltested'].astype('int')
math_mode.loc[:, ['white', 'black', 'hispanic', 'lowincome']] = round(
math_mode.loc[:, ['white', 'black', 'hispanic', 'lowincome']] * 100, 2)
math_mode['mathpass'] = round(math_mode['mathpass'], 2)
math_mode.loc[:, ['hybridper', 'virtualper', 'schoolmode']] = round(
math_mode.loc[:, ['hybridper', 'virtualper', 'schoolmode']], 4)

In [74]:
math_mode.to_csv('final_data_mathpass_il.csv')