In [1]:
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.api as sm
import numpy as np
from sklearn.linear_model import LinearRegression

## School FE

### No interactions

In [2]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -3.222789  0.300227 -10.734523  8.738403e-27 -3.811269 -2.634309
black      -0.464732  0.035473 -13.101044  5.278277e-39 -0.534263 -0.395201
hispanic   -0.340029  0.027487 -12.370539  5.555359e-35 -0.393906 -0.286151
white       0.132937  0.026239   5.066385  4.101871e-07  0.081505  0.184368
lowincome  -0.019332  0.005729  -3.374551  7.412070e-04 -0.030562 -0.008103

### Race interactions

In [3]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela['black_remote'] = ela['black'] * ela['schoolmode']
ela['his_remote'] = ela['hispanic'] * ela['schoolmode']
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested', 'his_remote']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black', 'hispanic', 'white', 'lowincome', 'black_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

                 Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode   -2.720815  0.321509  -8.462647  2.849306e-17 -3.351011 -2.090620
black        -0.465360  0.035452 -13.126347  3.794833e-39 -0.534851 -0.395869
hispanic     -0.338792  0.027472 -12.332114  8.914822e-35 -0.392641 -0.284943
white         0.133491  0.026224   5.090444  3.614848e-07  0.082089  0.184893
lowincome    -0.020300  0.005730  -3.542930  3.968915e-04 -0.031532 -0.009069
black_remote -0.059357  0.013656  -4.346505  1.392213e-05 -0.086125 -0.032589

In [4]:
model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested', 'black_remote']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome', 'his_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -6.766192  0.518186 -13.057453  9.306329e-39 -7.781899 -5.750485
black      -0.484805  0.035473 -13.666679  2.851257e-42 -0.554337 -0.415273
hispanic   -0.358774  0.027516 -13.038852  1.184750e-38 -0.412708 -0.304840
white       0.104315  0.026401   3.951126  7.813508e-05  0.052565  0.156065
lowincome  -0.022321  0.005727  -3.897559  9.758356e-05 -0.033547 -0.011096
his_remote  0.058030  0.006925   8.380121  5.745034e-17  0.044457  0.071604

### Income interactions

In [5]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela['income_remote'] = ela['lowincome'] * ela['schoolmode']
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome', 'income_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

                  Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode    -4.183565  0.568953  -7.353098  2.035222e-13 -5.298781 -3.068350
black         -0.469305  0.035544 -13.203498  1.382175e-39 -0.538975 -0.399634
hispanic      -0.345444  0.027619 -12.507486  1.017836e-35 -0.399580 -0.291307
white          0.125677  0.026489   4.744435  2.109876e-06  0.073755  0.177599
lowincome     -0.020003  0.005738  -3.485969  4.917384e-04 -0.031251 -0.008756
income_remote  0.016698  0.008400   1.987909  4.683962e-02  0.000233  0.033162

### Charter interactions

In [6]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela['charter_remote'] = ela['charter'] * ela['schoolmode']
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass',  
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome', 'charter', 'charter_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

,Coef.,Std.Err.,t,P>|t|,[0.025,0.975]
schoolmode,-3.090445,0.308272,-10.025046,1.400036e-23,-3.694696,-2.486194
black,-0.464172,0.035471,-13.085903,6.428885e-39,-0.533700,-0.394644
hispanic,-0.339889,0.027485,-12.366444,5.843019e-35,-0.393762,-0.286015
white,0.132813,0.026237,5.062063,4.195831e-07,0.081385,0.184240
lowincome,-0.019788,0.005733,-3.451265,5.594798e-04,-0.031026,-0.008549
charter,8.556222,0.513018,16.678201,6.685313e-62,7.550645,9.561800
charter_remote,-1.440678,0.762876,-1.888483,5.898014e-02,-2.936006,0.054650

### District-year interactions

In [7]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela['district_year'] = ela['districtcode'] + ela['year']
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.         t         P>|t|    [0.025    0.975]
schoolmode  1.570688  1.202181  1.306532  1.914149e-01 -0.785953  3.927329
black      -0.378346  0.049857 -7.588638  3.654558e-14 -0.476081 -0.280612
hispanic   -0.310484  0.042033 -7.386616  1.681764e-13 -0.392882 -0.228086
white       0.047133  0.044929  1.049052  2.941905e-01 -0.040942  0.135208
lowincome  -0.091577  0.013759 -6.655703  3.034105e-11 -0.118549 -0.064605

### County-year interactions

In [8]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela['county_year'] = ela['countycode'] + ela['year']
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -0.457448  0.538149  -0.850039  3.953184e-01 -1.512295  0.597400
black      -0.553335  0.035963 -15.386106  5.742136e-53 -0.623829 -0.482842
hispanic   -0.420568  0.028407 -14.805254  3.309919e-49 -0.476250 -0.364887
white       0.018193  0.027291   0.666639  5.050143e-01 -0.035301  0.071687
lowincome  -0.025892  0.006187  -4.185096  2.868605e-05 -0.038018 -0.013765

### State-year interactions

In [9]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela['state_year'] = ela['state'] + ela['year']
ela_dummy = pd.get_dummies(ela.drop(columns = ['districtcode', 'countycode', 'state']))

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -0.543339  0.392616  -1.383895  1.664109e-01 -1.312914  0.226235
black      -0.542196  0.034061 -15.918534  1.348858e-56 -0.608959 -0.475433
hispanic   -0.372745  0.026235 -14.208005  1.597267e-45 -0.424169 -0.321322
white       0.095805  0.025023   3.828722  1.293264e-04  0.046758  0.144853
lowincome  -0.010435  0.005473  -1.906530  5.660025e-02 -0.021162  0.000293

## District FE

### No interactions

In [10]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela_district = ela.groupby(['districtcode', 'year']).mean().reset_index().drop(columns = 'totaltested')
total = ela.groupby(['districtcode', 'year']).sum().reset_index().loc[:, ['districtcode', 
                                                                           'totaltested', 'year']]
ela_district = ela_district.merge(total, on = ['districtcode', 'year'])
ela_dummy = pd.get_dummies(ela_district)

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -3.482880  0.337569 -10.317539  8.300114e-25 -4.144600 -2.821160
black      -0.410208  0.045508  -9.013948  2.435751e-19 -0.499415 -0.321000
hispanic   -0.336121  0.034607  -9.712399  3.507155e-22 -0.403961 -0.268282
white       0.114585  0.032087   3.571059  3.575619e-04  0.051686  0.177483
lowincome  -0.025565  0.006595  -3.876136  1.069496e-04 -0.038494 -0.012636

### Race interactions

In [11]:
ela_district['black_remote'] = ela_district['black'] * ela_district['schoolmode']
ela_district['his_remote'] = ela_district['hispanic'] * ela_district['schoolmode']
ela_dummy = pd.get_dummies(ela_district)

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested', 'his_remote']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome', 'black_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

                 Coef.  Std.Err.         t         P>|t|    [0.025    0.975]
schoolmode   -2.584890  0.367701 -7.029877  2.231624e-12 -3.305676 -1.864105
black        -0.413367  0.045412 -9.102593  1.089523e-19 -0.502386 -0.324348
hispanic     -0.335954  0.034532 -9.728723  2.993125e-22 -0.403645 -0.268262
white         0.115232  0.032017  3.599043  3.212592e-04  0.052470  0.177994
lowincome    -0.027592  0.006590 -4.187262  2.852705e-05 -0.040509 -0.014675
black_remote -0.098045  0.016101 -6.089445  1.183629e-09 -0.129606 -0.066483

In [12]:
model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested', 'black_remote']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome', 'his_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -8.039167  0.627556 -12.810271  3.241470e-37 -9.269335 -6.808999
black      -0.434994  0.045400  -9.581306  1.241049e-21 -0.523990 -0.345998
hispanic   -0.354972  0.034525 -10.281456  1.202078e-24 -0.422651 -0.287294
white       0.081814  0.032173   2.542949  1.101021e-02  0.018747  0.144881
lowincome  -0.029507  0.006583  -4.482660  7.471208e-06 -0.042411 -0.016604
his_remote  0.073748  0.008578   8.597215  9.668604e-18  0.056933  0.090563

### Income interactions

In [13]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela_district = ela.groupby(['districtcode', 'year']).mean().reset_index().drop(columns = 'totaltested')
total = ela.groupby(['districtcode', 'year']).sum().reset_index().loc[:, ['districtcode', 
                                                                           'totaltested', 'year']]
ela_district = ela_district.merge(total, on = ['districtcode', 'year'])
ela_district['income_remote'] = ela_district['lowincome'] * ela_district['schoolmode']
ela_dummy = pd.get_dummies(ela_district)

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome', 'income_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

                  Coef.  Std.Err.         t         P>|t|    [0.025    0.975]
schoolmode    -4.495855  0.709302 -6.338420  2.442987e-10 -5.886265 -3.105444
black         -0.413377  0.045545 -9.076144  1.386209e-19 -0.502657 -0.324096
hispanic      -0.340563  0.034712 -9.811114  1.339628e-22 -0.408607 -0.272519
white          0.108156  0.032327  3.345661  8.245253e-04  0.044786  0.171525
lowincome     -0.026141  0.006604 -3.958144  7.616725e-05 -0.039087 -0.013195
income_remote  0.016848  0.010376  1.623767  1.044637e-01 -0.003491  0.037187

### Charter interactions

In [14]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela_district = ela.groupby(['districtcode', 'year']).mean().reset_index().drop(columns = 'totaltested')
total = ela.groupby(['districtcode', 'year']).sum().reset_index().loc[:, ['districtcode', 
                                                                           'totaltested', 'year']]
ela_district = ela_district.merge(total, on = ['districtcode', 'year'])
ela_district['charter_remote'] = ela_district['charter'] * ela_district['schoolmode']
ela_dummy = pd.get_dummies(ela_district)

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome','charter','charter_remote']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

,Coef.,Std.Err.,t,P>|t|,[0.025,0.975]
schoolmode,-3.365344,0.357988,-9.400709,6.889105e-21,-4.067091,-2.663597
black,-0.409990,0.045509,-9.009042,2.546157e-19,-0.499198,-0.320781
hispanic,-0.335951,0.034608,-9.707331,3.683986e-22,-0.403791,-0.268110
white,0.114739,0.032087,3.575832,3.511100e-04,0.051840,0.177639
lowincome,-0.025895,0.006604,-3.921133,8.884620e-05,-0.038840,-0.012950
charter,15.558049,0.836070,18.608551,9.537153e-76,13.919142,17.196956
charter_remote,-1.114847,1.130391,-0.986248,3.240401e-01,-3.330697,1.101004

### County-year interactions

In [15]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela_district = ela.groupby(['districtcode', 'year']).mean().reset_index().drop(columns = 'totaltested')
total = ela.groupby(['districtcode', 'year']).sum().reset_index().loc[:, ['districtcode', 
                                                                           'totaltested', 'year']]
ela_district = ela_district.merge(total, on = ['districtcode', 'year']).merge(
    ela.loc[:, ['districtcode', 'countycode']].drop_duplicates(), on = 'districtcode')
ela_district['county_year'] = ela_district['countycode'] + ela_district['year']
ela_dummy = pd.get_dummies(ela_district)

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter',
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)


wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -0.494171  0.648926  -0.761521  4.463735e-01 -1.766280  0.777938
black      -0.583170  0.047768 -12.208450  6.607424e-34 -0.676811 -0.489530
hispanic   -0.454161  0.036599 -12.409149  5.819967e-35 -0.525907 -0.382415
white      -0.019367  0.033549  -0.577272  5.637757e-01 -0.085134  0.046400
lowincome  -0.024786  0.007066  -3.507521  4.553786e-04 -0.038638 -0.010933

### State-year interactions

In [16]:
ela = pd.read_csv('../final_data_all_state/final_data_all_state_elapass.csv').iloc[:, 1:]
ela['year'] = ela['year'].astype('str')
ela_district = ela.groupby(['districtcode', 'year']).mean().reset_index().drop(columns = 'totaltested')
total = ela.groupby(['districtcode', 'year']).sum().reset_index().loc[:, ['districtcode', 
                                                                           'totaltested', 'year']]
ela_district = ela_district.merge(total, on = ['districtcode', 'year']).merge(
    ela.loc[:, ['districtcode', 'state']].drop_duplicates(), on = 'districtcode')
ela_district['state_year'] = ela_district['state'] + ela_district['year']
ela_dummy = pd.get_dummies(ela_district)

model = sm.WLS(endog = ela_dummy.elapass, exog = ela_dummy.drop(columns = ['elapass', 'charter',
                                                                              'virtualper','hybridper', 
                                                                              'totaltested']), 
           weights = ela_dummy.totaltested)

wls = model.fit()

summary_df = wls.summary2().tables[1]
coeffs_of_interest = ['schoolmode', 'black','hispanic', 'white', 'lowincome']
summary_of_interest = summary_df.loc[coeffs_of_interest]
summary_of_interest

               Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
schoolmode -1.217657  0.449473  -2.709074  6.761053e-03 -2.098738 -0.336576
black      -0.567001  0.042979 -13.192441  2.421519e-39 -0.651251 -0.482751
hispanic   -0.382495  0.032281 -11.848969  3.964032e-32 -0.445774 -0.319217
white       0.055673  0.029939   1.859576  6.298112e-02 -0.003014  0.114361
lowincome  -0.013738  0.006163  -2.228942  2.584458e-02 -0.025819 -0.001656